.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  padding-left: 3.2967032967vw;
  padding-right: 3.2967032967vw;

  .logo {
    width: 200px;
  }

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      text-align: center;

      li {
        display: inline;
        margin-right: 20px;

        a {
          color: #fff;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}
