body {
  font-family: "Iter V", Arial, sans-serif;
  margin: 0;
  padding: 0;
}
nav {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  transition: top 2.9s; /* Анімація зміни положення */
}
nav.fixed {
  position: fixed;
  top: 0;
  z-index: 1000; /* Забезпечення того, що навігаційна панель буде поверх інших елементів */
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav ul li {
  display: inline;
  margin-right: 20px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}
section {
  padding: 50px;
  text-align: center;
  color: #333;
  height: 100vh;
}
section h1,
section h2 {
  margin-bottom: 20px;
}
section p {
  font-size: 18px;
  line-height: 1.6;
}
.gallery {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
}
.photo {
  flex: 0 0 auto;
  width: 300px;
  scroll-snap-align: start;
  margin-right: 10px;
}
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}
/* Анімація проявлення тексту */
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.fade-in.active {
  opacity: 1;
}

/* Додати колір фону для секцій */
#welcome,
#works,
#contacts {
  background-color: black;
  color: white;
}

#about,
#services {
  background-color: white;
  color: black;
}
section#about p {
  text-align: left; /* Вирівнювання тексту зліва */
  color: #000; /* Чорний колір тексту */
  opacity: 1; /* Робить текст повністю видимим */
  max-width: 300px; /* Максимальна ширина тексту */
}
.photo img {
  max-width: 1000px; /* Максимальна ширина зображення */
  height: 600px; /* Автоматична висота для збереження пропорцій */
}
.photo {
  margin-right: 600px; /* Відступ між зображеннями зправа */
}
.button {
  display: block; /* Зробити посилання блочними елементами */
  text-align: center; /* Вирівняти текст по центру */
  margin-top: 100px; /* Відступ від верхнього краю */
}

.container {
  display: flex;
}

.left {
  flex: 1;
  padding-right: 200px; /* Відступ між лівим та правим блоком */
}

.right {
  flex: 2;
}

.right p {
  width: 300px; /* Задати ширину для <p> */
  margin-bottom: 40px; /* Відступ між параграфами */
}

.left h1,
.left h2 {
  margin-top: 120px; /* Відступ зверху для заголовків h1 та h2 */
}

.left {
  text-align: left; /* Вирівнювання відносно лівого боку для всього контенту */
}

.left h1,
.left h2,
.left p {
  text-align: left; /* Вирівнювання відносно лівого боку для заголовків і абзаців */
}
